body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u381 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u382 {
  position:absolute;
  left:288px;
  top:208px;
  width:352px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  position:absolute;
  left:55px;
  top:15px;
  width:790px;
  height:28px;
}
#u385 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u386 {
  position:absolute;
  left:63px;
  top:23px;
  width:12px;
  height:12px;
}
#u387 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u388 {
  position:absolute;
  left:81px;
  top:23px;
  width:12px;
  height:12px;
}
#u389 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u390 {
  position:absolute;
  left:99px;
  top:23px;
  width:12px;
  height:12px;
}
#u391 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392 {
  position:absolute;
  left:191px;
  top:19px;
  width:532px;
  height:20px;
}
#u393 {
  position:absolute;
  left:2px;
  top:2px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u394 {
  position:absolute;
  left:198px;
  top:22px;
  width:311px;
  height:14px;
  font-size:12px;
  color:#BCBCBC;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u396 {
  position:absolute;
  left:288px;
  top:258px;
  width:352px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u398 {
  position:absolute;
  left:288px;
  top:278px;
  width:352px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  position:absolute;
  left:307px;
  top:325px;
  width:300px;
  height:40px;
}
#u401 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:72px;
}
#u402 {
  position:absolute;
  left:50px;
  top:620px;
  width:795px;
  height:72px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
